# Example:

# URL
APP_URL=localhost:3000

# envoirement
ENV_VAR=local

# Email sending config
EMAIL_USER=info@example.com
EMAIL_PASS=hdjgjhfh


# NEXT_PUBLIC_TAWKTO_PROPERTY_ID=507f1f7yhh7bcf86cd799439011
# NEXT_PUBLIC_TAWKTO_WIDGET_ID=1hqr4i5j876